@page "/"
@page "/index.html"

<div class="mt-10 text-white text-center pb-12">
    <div>
        <div class="text-6xl font-bold"><span class="grPageTitle">Diswumpus</span></div>
        <br />
    </div>
    <br />
    <br />
    <div>
        <details>

            <summary><img src="discord.png" style="width: 80px; display: inline" /> <span class="text-6xl font-bold grTitle">Discord Bots:</span></summary>
            <br />
            <div>
                <center>
                    <Project Name="Slash Commands" IconURL="https://slashr.xyz/logo.svg" URL="https://slashr.xyz/" />
                    <br />
                    <br />
                    <Project Name="Pepperbot" IconURL="https://pepper.trtle.xyz/pepper.svg" URL="https://pepper.trtle.xyz/" />
                    <br />
                </center>
            </div>
            <br />
        </details>
        <br /><br />
        <details>

            <summary><img src="npm.png" style="width: 80px; display: inline" /> <span class="text-6xl font-bold grTitle">NPM Packages:</span></summary>

            <div>
                <center>
                    <NPM Name="Discord.jsh" IconURL="https://jsh.slashr.xyz/Assets/jsh_icon.svg" URL="https://jsh.slashr.xyz/" />
                    <br />
                    <NPM Name="Discord.js Util" IconURL="https://raw.githubusercontent.com/Diswumpus/Discord-Util/main/Assets/icon.png" URL="" />
                </center>
            </div>
        </details>
    </div>
</div>